<nav class="teal lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="#">IO XUI</a>
        <a class="button-collapse" href="#" data-activates="nav-mobile">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/devices">Manage Devices</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/devices">Manage Devices</a></li>
        </ul>
        
    </div>
</nav>